.recipes-container {
  padding: 20px;
}

.recipe-search {
  margin-bottom: 20px;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe-item {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.recipe-item h3 {
  margin-top: 0;
}

.recipe-item button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.filter-container button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  align-self: right;
  cursor: pointer;
  transition: background 0.3s;
}

.recipe-item button:hover {
  background: #0056b3;
}

/* Ensure specificity for delete buttons */
.delete-button-confirm {
  background: #ca1139 !important; /* Use !important if necessary */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.delete-button-confirm:hover {
  background: #9d033e !important; /* Use !important if necessary */
}

.delete-button-deny {
  background: #6c757d !important; /* Use !important if necessary */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.delete-button-deny:hover {
  background: #5a6268 !important; /* Use !important if necessary */
}

.delete-button-confirm,
.delete-button-deny {
  margin-right: 10px; /* Add spacing between buttons */
}

.delete-button-deny {
  margin-right: 0; /* Ensure the last button doesn't have extra margin */
}

.food-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.food-item h3 {
  margin: 0;
  flex: 1;
  text-align: left;
}

.food-item p {
  margin: 0;
  text-align: right;
  flex-shrink: 0;
}

.filter-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.filter-container label {
  margin-right: 10px;
}

.filter-container select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.info-icon {
  color: #007bff;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.info-icon:hover {
  color: #0056b3;
}

.edit-icon {
  color: #eedc15;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.edit-icon:hover {
  color: #afb718;
}

.trash-icon {
  color: #ca1139;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.trash-icon:hover {
  color: #9d033e;
}

.non-found {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
}

.portion-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.confirm-button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.confirm-button:hover {
  background: #0056b3;
}

.close-button {
  padding: 10px 15px;
  background: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-button:hover {
  background: #5a6268;
}
@media (max-width: 768px) {
  .recipe-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .recipe-item {
    width: 100%;
  }
}
